/* TARGETING ELEMENTS / TAGS */

h2{

    font-size: 26px;

}

#content-header{

    font-size: 18px;
    color: green;

}

span{

    display: block;
    color: blue;

}

.deck{

    color: coral;

}